<!DOCTYPE html>
<html>
<head>
<title> YELPCAMP </title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"> 
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<a href="/" class="navbar-brand" class="btn btn-success">Yelpcamp</a>
		</div>
		
		<div class="nav navbar-nav navbar-right">
			<li><a href="/">Log out</a></li>
			<li><a href="/">Log In</a></li>
			<li><a href="/">Sign Up</a></li>

	</nav>
