<% include partials/header %>

<h1> Hello everyonewelcome to my yelpcamp </h1>
<a href="/nextpage" >CLICK TO GO TO CAMGROUND PAGE</a>
<a href="/nextpage/create" >"  " CLICK TO CREATE YOUR OWN CAMGROUND PAGE</a>

<% include partials/footer %>